<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/leaflet-routing-machine.css" />
    <!-- Load Leaflet: http://leafletjs.com/ -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" crossorigin=""></script>

    <!-- Esri Leaflet Plugin: https://esri.github.io/esri-leaflet/ -->
    <script src="https://unpkg.com/esri-leaflet@2.1.3/dist/esri-leaflet.js" integrity="sha512-pijLQd2FbV/7+Jwa86Mk3ACxnasfIMzJRrIlVQsuPKPCfUBCDMDUoLiBQRg7dAQY6D1rkmCcR8286hVTn/wlIg==" crossorigin=""></script>

    <!-- ESRI Renderer Plugin: https://github.com/Esri/esri-leaflet-renderers -->
    <!-- Renders feature layer using default symbology as defined by ArcGIS REST service -->
    <!-- Currently doesn't work with ESRI cluster plugin -->
    <script src="https://unpkg.com/esri-leaflet-renderers@2.0.6/dist/esri-leaflet-renderers.js" integrity="sha512-mhpdD3igvv7A/84hueuHzV0NIKFHmp2IvWnY5tIdtAHkHF36yySdstEVI11JZCmSY4TCvOkgEoW+zcV/rUfo0A==" crossorigin=""></script>

    <!-- Load Leaflet Basemap Providers: https://github.com/leaflet-extras/leaflet-providers -->
    <!-- Modified to include USGS TNM web services -->
    <script src="/static/js/leaflet-providers.js"></script>

    <!-- 2.5D OSM Buildings Classic: https://github.com/kekscom/osmbuildings -->
    <script src="https://cdn.osmbuildings.org/OSMBuildings-Leaflet.js"></script>

    <!-- Load Font Awesome icons -->
    <script src="https://use.fontawesome.com/a64989e3a8.js"></script>

    <!-- Grouped Layer Plugin: https://github.com/ismyrnow/leaflet-groupedlayercontrol  -->
    <script src="/static/js/leaflet.groupedlayercontrol.min.js" type="text/javascript"></script>

    <!-- Overview mini map Plugin: https://github.com/Norkart/Leaflet-MiniMap -->
    <script src="/static/js/Control.MiniMap.min.js" type="text/javascript"></script>

    <!-- Leaflet Drawing Plugin: https://github.com/codeofsumit/leaflet.pm -->
    <!---<link rel="stylesheet" href="https://unpkg.com/leaflet.pm@latest/dist/leaflet.pm.css">
    <script src="https://unpkg.com/leaflet.pm@latest/dist/leaflet.pm.min.js"></script>
-->
    <!-- Leaflet WMS Plugin: https://github.com/heigeo/leaflet.wms -->
    <script src="/static/js/leaflet.wms.js"></script>

    <!-- Logo Credit Plugin: https://github.com/gregallensworth/L.Control.Credits -->
    <script type="text/javascript" src="/static/js/leaflet-control-credits.js"></script>
    <style>
    body {
      background-color: black;
    }
    @import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
    .line-1{
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,1);}
  to{border-right-color: transparent;}
}
        #map {
            width: 67%;
            height: 88%;
            position: fixed;
            bottom: 0;
            .slidecontainer {
      width: 100%;
    }
    .bottomright {
      position: absolute;
      bottom: 30px;
      right: 30px;
      font-size: 40px;
}

    .slider {
      -webkit-appearance: none;
      width: 100%;
      height: 10px;
      border-radius: 5px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }

    .slider:hover {
      opacity: 1;
    }

    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 23px;
      height: 24px;
      border: 0;
      background: url('/static/images/wheel.png');
      cursor: pointer;
    }

    .slider::-moz-range-thumb {
      width: 23px;
      height: 24px;
      border: 0;
      background: url('static/images/wheel.png');
      cursor: pointer;
    }
        }

    </style>

    <meta name="keywords" content="locateUser" />
    <link rel="icon" href="static/images/favicon.png">
    <title>Bikeable</title>
    <!-- Set up constants such as APP ID and token -->
    <script type="text/javascript" src="/static/libs/hereAppIdAndToken.js"></script>
    <link rel="stylesheet" href="static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="static/css/custom.css"/>
    <!-- Bootstrap jQuery Library -->
    <script type="text/javascript" src="static/libs/jQl.min.js"></script>

    <!-- Asynchronously the HERE Maps API for JavaScript -->
    <script type="text/javascript" src="static/libs/hereAsyncLoader.js"
      id="HereMapsLoaderScript"
      data-params="maps"
      data-map-container="mapContainer"
      data-callback="locateUser" >
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXU-NQ4vA2RHiz2x3L7tO6Ay3fbgT0-90&libraries=places"></script>
    <!--<link href="http://developer.here.com/html/css/main.css" rel="stylesheet" />-->

</head>

<body>
  <script src="/static/js/leaflet-routing-machine.js"></script>
  <script type="text/javascript" src="/static/libs/prettyprint.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type = "text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <!--<script type="text/javascript" src="/static/js/jquery.address.js"></script>-->
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/maps_lib.js"></script>
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type='text/javascript'>
//  L.Routing.control({
  //    waypoints: [
  //        L.latLng(42.32, -71.08),
    //      L.latLng(43, -72)
    //  ],
    //  routeWhileDragging: true
  //}).addTo(map);
  $.ajaxSetup({
    type: "POST",
    data: {},
    dataType: 'json',
    xhrFields: {
      withCredentials: true
    },
    crossDomain: true,
    contentType: 'application/json;charset=utf-8'
  });
    //<![CDATA[
      $(window).resize(function () {
        var h = $(window).height(),
          offsetTop = 105; // Calculate the top offset

        $('#map_canvas').css('height', (h - offsetTop));
      }).resize();

      $(function() {
        var myMap = new MapsLib({
          fusionTableId:      "1m4Ez9xyTGfY2CU6O-UgEcPzlS0rnzLU93e4Faa0",
          googleApiKey:       "AIzaSyAXU-NQ4vA2RHiz2x3L7tO6Ay3fbgT0-90",
          locationColumn:     "geometry",
          map_center:         [41.8781136, -87.66677856445312],
          locationScope:      "chicago"
        });
        $(':checkbox').click(function(){
          myMap.doSearch();
        });

        $(':radio').click(function(){
          myMap.doSearch();
        });

        $('#search_radius').change(function(){
          myMap.doSearch();
        });

        $('#search').click(function(){
          myMap.doSearch();
        });

        $('#find_me').click(function(){
          locateUser(map);
        });

        $('#reset').click(function(){
        });

        $(":text").keydown(function(e){
            var key =  e.keyCode ? e.keyCode : e.which;
            if(key === 13) {
                $('#search').click();
                return false;
            }
        });
      });
    //]]>
  </script>
  <script type='text/javascript'>
  function initialize() {
    var input = document.getElementById('search_address');
    new google.maps.places.Autocomplete(input);
  }
  google.maps.event.addDomListener(window, 'load', initialize);
  </script>

  <script type='text/javascript'>
  function initialize2() {
    var input2 = document.getElementById('search_address2');
    new google.maps.places.Autocomplete(input2);
  }
  google.maps.event.addDomListener(window, 'load', initialize2);
  </script>

  <script>
  var add1
  var add2
  function alert() {
    add1 = (document.getElementById("search_address").value);
    add2 = (document.getElementById("search_address2").value);
    backend(add1,add2);
  }
  </script>

  <script>
  var directions1 = []
  function backend(add1,add2) {
    var request = new XMLHttpRequest();
    var add3 = add1.split(' ').join('+');
    var add4 = add2.split(' ').join('+');
    var add5 = add3.replace(/,/g,"");
    var add6 = add4.replace(/,/g,"");
    var url = "http://bikeable.tech/routing/?origin=".concat(add5,'&dest=',add6 );
    console.log(url);
    request.open('GET', url, true);
    request.responseType= 'json';
    request.send();
    request.onload = function () {
      var data4 = request.response;
      var i;
      var latlngs = [];
      for (i = 0; i < data4.route.length; i++) {
        latlngs.push(data4.route[i]);
        directions1.push(data4.directions[i])
      }
      var marker = L.marker(latlngs[0]);
      marker.addTo(map);
      var marker2 = L.marker(latlngs[data4.route.length-1 ]);
      marker2.addTo(map);
      var polyline = L.polyline(latlngs, {color: 'red'}).addTo(map);
        map.fitBounds(polyline.getBounds());
      console.log(latlngs)
      console.log(data4);
      console.log(directions1)
      directions1 = directions1.join(" <br> ")
      document.getElementById("modalDirect").innerHTML = directions1;
      request.send();
  //$("#search").click(back);
};
}
</script>

  <div class='navbar navbar-default navbar-static-top' >
    <div class='container-fluid'>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class='navbar-brand' href='http://bikeable.tech/'><img src="static/images/BIKEABLE_LOGO.png" height="50"></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class='active'><a href="http://bikeable.tech/">Map</a></li>
          <li><a href="http://bikeable.tech/heatmaps.html">Bike Accidents</a></li>
          <li><a href="http://bikeable.tech/bikeTheft.html">Bike Thefts</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  <div class='container-fluid'>
    <div class='row'>
      <p class="line-1 anim-typewriter">Find the fastest, safest route for you!</p>
      <div class='col-md-4' style="float:right";>
        <div class='well'>
          <h4>
            Origin
          </h4>
          <p>
            <input class='form-control' id="search_address" placeholder='Enter an address or an intersection' type='text' />
          </p>
          <br />
          <h4>
            Destination
          </h4>
          <p>
            <input class='form-control' id='search_address2' placeholder='Enter an address or an intersection' type='text' />
          </p>
        </br>
          <a class='btn btn-primary' id='search' onclick='alert()' href='#'>
            <i class='glyphicon glyphicon-search'></i>
            Search
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class='btn btn-default' id='reset' onclick='document.getElementById("search_address").value=""; document.getElementById("search_address2").value=""' href='#'>
            <i class='glyphicon glyphicon-repeat'></i>
            Reset
          </a>
          &nbsp;&nbsp;&nbsp;
          &nbsp;<button type="button" class="btn btn-info btn-default" data-toggle="modal" data-target="#myModal">Open Directions</button>
          <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Biking Directions</h4>
        </div>
        <div class="modal-body" id = "modalDirect">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
          </a>
        </div>
      </div>
    <div id="map"></div>


    <script>
        var map = L.map('map', {
            center: [42.32, -71.08], // Boston, MA
            zoom: 13
        });

        var defaultBase = L.tileLayer.provider('Stamen.TonerLite').addTo(map);

        var baseLayers = {
            'Stamen Toner': defaultBase,
            'USGS TNM': L.tileLayer.provider('USGSTNM'),
            'ESRI Imagery': L.tileLayer.provider('Esri.WorldImagery'),
            'ESRI Ocean Basemap': L.tileLayer.provider('Esri.OceanBasemap'),
            'OSM Topo': L.tileLayer.provider('OpenTopoMap')
        };

        //ESRI ArcGIS layers from Hawaii GIS Program; dynamic layer example
        //Using a relative url to call layer instead of http
        var WaterQualSites = L.esri.dynamicMapLayer({
            url: '//geodata.hawaii.gov/arcgis/rest/services/HumanHealthSafety/MapServer',
            layers: [2],
            useCors: false
        });

        //add popup to Water quality sites dynamic map layer
        WaterQualSites.bindPopup(function(error, featureCollection) {
            if (error || featureCollection.features.length === 0) {
                return false;
            } else {
                return 'Name: ' + featureCollection.features[0].properties.name + '<br>' + 'ID: ' + featureCollection.features[0].properties.identifier;
            }
        });

        //ESRI ArcGIS layers from Hawaii GIS Program; polygon feature layer example
        //Using a relative url to call layer instead of http
        var AgBaseline = L.esri.featureLayer({
            url: '//geodata.hawaii.gov/arcgis/rest/services/LandUseLandCover/MapServer/4',
            style: function(feature) {
                return {
                    fillOpacity: 0.5
                }
            }
        });

        //add popup to AgBaseline feature layer
        AgBaseline.bindPopup(function(evt) {
            return L.Util.template('<p>{cropcatego}<br>{island}</p>', evt.feature.properties);
        });

        //ESRI ArcGIS layers from Hawaii GIS Program; line feature layer example; can override the styling
        //Using a relative url to call layer
        var Trails = L.esri.featureLayer({
            url: '//geodata.hawaii.gov/arcgis/rest/services/Terrestrial/MapServer/34',
            style: function(feature) {
                return {
                    color: '#328000',
                    weight: 2
                }
            }
        });

        //PacIOOS GeoServer Example; adding a single layer with properties
        //Using a relative url to call layer instead of http
        var EconSeaLevRise = L.tileLayer.wms('http://geo.pacioos.hawaii.edu/geoserver/wms?', {
            layers: 'PACIOOS:hi_tt_all_slrxa_econ_2030',
            format: 'image/png',
            opacity: 0.5,
            tiled: 'true'
        });

        //Another example using PacIOOS GeoServer examples; setting properties first then add layers
        var options = {
            transparent: 'true',
            format: 'image/png',
            opacity: 0.5,
            tiled: 'true'
            //info_format: 'text/html'
        };

        //Using a relative url to call layer instead of http
        var source = L.WMS.source('http://geo.pacioos.hawaii.edu/geoserver/wms?', options);
        var CREDREASites = source.getLayer('PACIOOS:hi_cred_all_rea_sites');
        var VegShoreline = source.getLayer('PACIOOS:hi_hcgg_all_shore_veg');

        //Load OSM Buildings then disable it on first load; can only be viewed at certain scales
        var osmb = new OSMBuildings(map).load();
        map.removeLayer(osmb);

        //Overlay grouped layers
        var groupOverLays = {
            "Hawaii State GIS": {
                "Water Quality Monitoring Sites": WaterQualSites,
                "Na Ala Hele Trails": Trails,
                "Agricultural Baseline": AgBaseline
            },

            "PacIOOS Layers": {
                "Economic Loss from Sea Level Rise (0.5ft) ": EconSeaLevRise,
                "CRED REA Sites": CREDREASites,
                "Vegetation Shoreline": VegShoreline
            },

            "OSM Bldg Classic": {
                "2.5D Buildings": osmb
            }
        };

        //add layer switch control
        L.control.groupedLayers(baseLayers, groupOverLays).addTo(map);


        //add scale bar to map
        L.control.scale({
            position: 'bottomleft'
        }).addTo(map);

        // Overview mini map
        var Esri_WorldTopoMap = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}', {
            attribution: '&copy; Esri &mdash; Esri, DeLorme, NAVTEQ, TomTom, Intermap, iPC, USGS, FAO, NPS, NRCAN, GeoBase, Kadaster NL, Ordnance Survey, Esri Japan, METI, Esri China (Hong Kong), and the GIS User Community'
        });

        var miniMap = new L.Control.MiniMap(Esri_WorldTopoMap, {
            toggleDisplay: true,
            minimized: false,
            position: 'bottomleft'
        }).addTo(map);

        //define Drawing toolbar options
      /*  var options = {
            position: 'topleft', // toolbar position, options are 'topleft', 'topright', 'bottomleft', 'bottomright'
            drawMarker: trued, // adds button to draw markers
            drawPolyline: true, // adds button to draw a polyline
            drawRectangle: true, // adds button to draw a rectangle
            drawPolygon: true, // adds button to draw a polygon
            drawCircle: true, // adds button to draw a cricle
            cutPolygon: true, // adds button to cut a hole in a polygon
            editMode: true, // adds button to toggle edit mode for all layers
            removalMode: true, // adds a button to remove layers
        };*/

        // add leaflet.pm controls to the map
        //Logo position: bottomright

    </script>

  <!--<script>
  var add1 = document.getElementbyID("search_address").value);
  var add2 = document.getElementbyID("search_address2").value);
  add1.replace(" ","+");
  add2.replace(" ","+");
  var url = "http://bikeable.tech/routing/?origin=".concat(add1,"&dest=",add2);
  $.getJSON(url, function(data) {
      //data is the JSON string
  });
  console.log(data);
  </script>
--->




</body>

</html>
